---
import Header from '@components/Header.astro'
import '../../styles/global.css'
import Layout from '@layouts/Layout.astro'
import ServiceCard from '@components/ServiceCard.tsx'
import ServiceHeader from '@components/ServiceHeader.tsx'
---

<Layout title='Services'>
  <div id='image-container' class='relative block w-full max-h-[300px] overflow-hidden'>
    <img src='/images/services-header-image.jpg' alt='Services page Header Image' class='object-fill' />
    <div
      id='overlay'
      class='absolute top-0 left-0 w-full h-full items-center flex justify-center bg-black/50'
    >
      <h1 class='items-center font-bold text-4xl text-white'>LET'S DO BUSINESS</h1>
    </div>
  </div>
  <section class='px-4 lg:px-12 pt-12 pb-4'>
    <ServiceHeader heading="Students" />
    <div class="flex flex-col sm:flex-row sm:flex-wrap lg:flex-nowrap items-center sm:justify-center gap-4 py-8 mx-auto max-w-6xl">
      <ServiceCard image="/icons/application.png" title="College Applications" description="Expert guidance for college application essays and personal statements. I help you craft compelling narratives that showcase your unique voice and highlight your strengths to admissions committees." id="college-applications" animation="fade-left" delay={500} />
      <ServiceCard image="/icons/funding.png" title="Apply for funding" description="Comprehensive support for scholarship applications and funding opportunities. I assist with writing persuasive proposals that effectively communicate your goals and justify financial support." id="funding" animation="fade-up" delay={700} />
      <ServiceCard image="/icons/assignment.png" title="Writing Assignments" description="Professional writing and editing assistance for academic assignments. Whether you need help structuring arguments, refining your prose, or meeting formatting requirements, I provide tailored support." id="writing-assignments" animation="fade-right" delay={900} />
    </div>
  </section>
  <section class="px-4 lg:px-12">
    <ServiceHeader heading="Researchers"/>
    <div class="flex flex-col sm:flex-row sm:flex-wrap items-center sm:justify-center gap-4 py-8">
      <ServiceCard gradient_type="yellow" image="/icons/edit.png" title="Research Paper Editing" description="Professional editing services for academic papers, journals, and research publications. I help refine your writing, improve clarity, and ensure your work meets publication standards. Good for PhD applicants and researchers." id="research-paper-editing" animation="fade-up" />
      <ServiceCard gradient_type="yellow" image="/icons/funding.png" title="Funding Proposals" description="Strategic assistance for research funding proposals and grant applications. I help structure compelling narratives that clearly articulate your research goals and demonstrate the significance of your work." id="funding-proposals" animation="fade-down" />
      <ServiceCard gradient_type="yellow" image="/icons/job.png" title="Job Applications" description="Professional assistance with CVs, cover letters, and job application materials. I help you present your qualifications compellingly and tailor your applications to specific opportunities and requirements." id="job-applications" animation="fade-up" />
      <ServiceCard gradient_type="yellow" image="/icons/presentation.png" title="Presentations" description="Support for creating and refining academic and professional presentations. I help organize content, develop clear narratives, and ensure your message resonates with your intended audience effectively." id="presentations" animation="fade-down" />
      
    </div>
  </section>
</Layout>

