---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
---

<Layout title='About'>
  <div id='image-container' data-dark-section class='relative block w-full max-h-[500px] overflow-hidden'>
    <img src='/images/about-page-cover.jpg' alt='About page Cover Image' class='w-full h-auto object-cover' />
    <div
      id='overlay'
      class='absolute top-0 left-0 w-full h-full items-center flex justify-center bg-black/80'
    >
      <h1 class='items-center font-bold text-4xl text-slate-300'>ABOUT</h1>
    </div>
  </div>
  <section id='about-content' class='md:flex w-full px-4 lg:px-12 py-12'>
    <div id='about-illustration' class='md:w-1/2 my-8 md:my-0 flex items-center justify-center'>
      <img src='/images/arun.jpg' alt='About page illustration' class="w-full max-w-[300px] h-auto aspect-square object-cover rounded-full shadow border-4 border-gray-100"/>
    </div>
    <div class="md:w-1/2 md:my-auto">
      <h2 class='text-2xl font-bold text-center text-slate-700'>Who I am ?</h2>
      <p class="my-4 md:mb-4 text-sm leading-relaxed">
        I'm Arun, a writer, editor, researcher, and actor based in Bengaluru,
        India. My background is in the social sciences: I hold a BA in Social
        Sciences and Humanities and an MSc in Applied Linguistics, and for the
        past five years I've been working as a freelancer, primarily in the
        education sector and academia. In my work and in my life, I try to put
        the journey before the destination, focusing on long-term growth rather
        than short-term gratification. 
      </p>
      <p class="text-sm leading-relaxed"> As a writing coach, I invite you to look
        closely at your own life and tell your own stories in your own words,
        without relying on anyone else to do it for you—not even AI. If you'd
        like to see more of what I do, you can find me on Instagram, Substack,
        and LinkedIn. For a detailed look at my experience and qualifications,
        you can also browse my CV.</p>
    </div>
  </section>
</Layout>
