---
import Header from '@components/Header.astro'
import '../styles/global.css'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Services'>
  <div class='flex justify-center pt-8'>This is services page.</div>
</Layout>
