<footer
  id='footer-container'
  class='flex md:flex-row flex-col items-center md:items-start md:justify-center gap-4 py-8 px-4 bg-linear-to-b from-slate-50 to-slate-200 shadow-[rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px]'
>
  <div class='md:w-1/2 w-full flex flex-col justify-start'>
    <h4
      class='uppercase text-slate-600 font-semibold text-center md:text-left '
    >
      Why Me ?
    </h4>
    <p
      class='text-sm sm:text-xs mx-auto md:mx-0 text-slate-600 max-w-sm mt-2 leading-relaxed font-medium'
    >
      Every great achievement starts with a single idea. Transform your vision
      into reality, share your story with the world, and inspire others to
      follow their dreams.
    </p>
  </div>
  <hr class='md:hidden w-72 sm:w-90 text-slate-300 my-2' />
  <div class='w-full md:w-1/4 text-center md:text-left'>
    <h4
      class='uppercase text-slate-600 font-semibold mb-4 md:mb-0'
    >
      Links
    </h4>
    <ul class='mt-2 text-xs font-medium space-y-2 md:space-y-1'>
      <li>
        <a
          href='/about'
          class='text-sm sm:text-xs text-sky-800 hover:underline transition-colors duration-300'
          >About</a
        >
      </li>
      <li>
        <a
          href='/services'
          class='text-sm sm:text-xs text-sky-800 hover:underline transition-colors duration-300'
          >Services</a
        >
      </li>
      <li>
        <a
          href='/contact'
          class='text-sm sm:text-xs text-sky-800 hover:underline transition-colors duration-300'
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <hr class='md:hidden w-72 sm:w-90 text-slate-300 my-2' />
  <div class='w-full md:w-1/4 text-center md:text-left'>
    <h4
      class='uppercase text-slate-600 font-semibold mb-4 md:mb-0'
    >
      Resources
    </h4>
    <ul class='mt-2 text-xs font-medium space-y-2 md:space-y-1'>
      <li>
        <a
          href='https://www.notion.so/Services-29b4cc2bd87e80b6bc30c5cf408370d5?pvs=21'
          class='text-sm sm:text-xs text-sky-800 hover:underline transition-colors duration-300'
          >FAQ</a
        >
      </li>
      <li>
        <a
          href='https://www.notion.so/Privacy-Policy-Template-8f6d7f6f3f3e4e3aa5e1c9e4f8b2c6d3?pvs=21'
          class='text-sm sm:text-xs text-sky-800 hover:underline transition-colors duration-300'
          >Privacy Policy</a
        >
      </li>
    </ul>
  </div>
</footer>

<footer
  class='bg-linear-to-r from-blue-300 via-sky-200 to-blue-300 pt-4 shadow-[rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px]'
>
  <div id='social-links'>
    <div class='flex justify-center items-center space-x-4 py-1'>
      <a
        href='https://www.linkedin.com'
        target='_blank'
        rel='noopener noreferrer'
        title='Linkedin profile'
      >
        <img
          src='/icons/linkedin.svg'
          alt='LinkedIn'
          class='h-4 w-4 hover:opacity-80 transition-opacity duration-300'
        />
      </a>
      <a
        href='https://www.instagram.com/arunlinguist'
        target='_blank'
        rel='noopener noreferrer'
        title='Instagram profile'
      >
        <img
          src='/icons/instagram.svg'
          alt='Instagram'
          class='h-4 w-4 hover:opacity-80 transition-opacity duration-300'
        />
      </a>
      <a href='mailto:arunlinguist@gmail.com' title='Send Email'>
        <img
          src='/icons/email.svg'
          alt='Email'
          class='h-4 w-4 hover:opacity-80 transition-opacity duration-300'
        />
      </a>
      <a
        href='https://wa.me/918130991192?text=Hello%2C%20I%20would%20like%20to%20connect%20with%20you.%20'
        title='Message on WhatsApp'
      >
        <img
          src='/icons/whatsapp.svg'
          alt='Whatsapp'
          class='h-4 w-4 hover:opacity-80 transition-opacity duration-300'
        />
      </a>
    </div>
  </div>
  <hr class='text-sky-300 my-2 w-3/4 mx-auto' />
  <div class='max-w-2xl mx-auto py-2 text-center'>
    <p class='text-sm text-gray-500'>
      © 2025 Made with ❤️ by <a
        class='text-sky-600 text-xs cursive hover:underline'
        href='https://ilamuhil.com'>ilamuhil</a
      >
    </p>
  </div>
</footer>
